@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: black;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0 0% 0%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 0%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hover\:custom-scale:hover {
  transform: scale(1.4); /* 140% scaling on hover */
}

#circle-shape{
  position: absolute;
  width: 25vw;
  height: 25vw;
  left: 1;
  top: 10vh;
}
#circle1{
  position: absolute;
  width: 25vw;
  height: 25vw;
  background-color: rgb(98, 43, 226);
  border-radius: 50%;
  filter: blur(20px) ;
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function:var(--accent);
  animation-iteration-count: infinite;
  animation-direction:alternate-reverse;
}
#circle2{
  position: absolute;
  width: 25vw;
  height: 25vw;
  background: linear-gradient(blueviolet, rgb(119, 0, 255));
  border-radius: 50%;
  filter: blur(30px) ;
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function:var(--accent);
  animation-iteration-count: infinite;
  animation-direction:alternate-reverse;
}
#circle3{
  position: absolute;
  width: 25vw;
  height: 25vw;
  background-color: rgb(98, 43, 226);
  border-radius: 50%;
  filter: blur(20px) ;
  animation-name: anime1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes anime1 {
  from{
    transform: translate(15%, -10%);
  }to{
    transform: translate(0%, 10%);
  }
}
@keyframes anime2 {
  from{
    transform: translate(55%, -3%);
  }to{
    transform: translate(-20%, 20%);
  }
}